
.vis_body {
	display: block;
	width:100vw;
}

.vega-bind {
	display: flex;
	justify-content: center;
}

.centre_container {
	position: relative;
	display: block;
	width: 90vw;
	padding-left: 5vw;
	padding-right: 5vw;
	height: 256pt;
}

.col_container {
	display: inline-block;
	width: 49%;
	height: 100%;
}

input[type=range] {
	width: 500pt;
}

#select_countries_container {
	display:flex;
	justify-content: center;
}

#map_container {
	height: 512pt;
	display:flex;
	justify-content: center;
}